{{ define "footer" }}
<script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../assets/vendor/jquery-ui/jquery-ui.js"></script>
<script src="../../assets/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../assets/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../assets/vendor/widgster/widgster.js"></script>
<!-- <script src="../../assets/vendor/pace.js/pace.js" data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script> -->
<script src="../../assets/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>
<script src="../../assets/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>

<!-- common app js -->
<script src="../../assets/js/sing/settings.js"></script>
<script src="../../assets/js/sing/app.js"></script>
<script src="../../assets/js/sing/env.js"></script>
<script src="../../assets/vendor/underscore/underscore-min.js"></script>
<script src="../../assets/vendor/backbone/backbone.js"></script>
<script src="../../assets/vendor/messenger/build/js/messenger.js"></script>
<script src="../../assets/vendor/messenger/build/js/messenger-theme-flat.js"></script>
<script src="../../assets/vendor/messenger/docs/welcome/javascripts/location-sel.js"></script>

<script type="text/javascript" src="../../assets/js/app.js"></script>
<script type="text/javascript" src="../../assets/js/env.js"></script>
{{ end }}