{{define "module_form"}}
<form class="form-horizontal" role="form" id="moduleform" >
	<fieldset>
		<legend><strong>Registrar Módulo</strong></legend>

		<div class="form-group row">
            <label class="col-md-4 control-label text-md-right" for="module_id">Id</label>
            <div class="col-md-7">
                <input type="text" id="module_id" class="form-control"
                       data-placement="top" placeholder="Id Modulo" required>
            </div>
		</div>

		<div class="form-group row">
			<label class="col-md-4 control-label text-md-right" for="model">Modelo</label>
			<div class="col-md-7">
				<input type="text" id="model" class="form-control"
				data-placement="top" placeholder="Modelo" required>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-md-4 control-label text-md-right" for="zone">Zona</label>
			<div class="col-md-7">
				<input type="text" id="zone" name="zone" class="form-control"
				data-placement="top" placeholder="Zona" required>
			</div>
		</div>


		<div class="form-group row">
			<label class="col-md-4 control-label text-md-right" for="sector">Sector</label>
			<div class="col-md-7">
				<input type="text" id="sector" name="sector" class="form-control"
				data-placement="top" placeholder="Sector" required>
			</div>
		</div>


        <div class="form-group row">
            <label class="col-md-4 control-label text-md-right" for="sector">Coordenadas Sector</label>
            <div class="col-md-7">
				<div id="gmap" >
				</div>
			</div>
            <div class="col-md-1">
            	<div class="row">
            		<input type="radio" id="position" name="mapmod" value="pos" checked>
  					<label for="position">Ubicación</label>
  					<input type="radio" id="polygons" name="mapmod" value="pol">
  					<label for="polygons">Rango</label>
            	</div>
                <button id="clear-map">Clear</button>
            </div>
		</div>

        <div >
            <label class="col-md-4 control-label text-md-right" for="sector">Sensores</label>
			<div class="form-group row" >
	            <button id="add-sensor" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i></button>
	            <div id="sensors"></div>
            </div>
        </div>

	{{if .Register}}
	<div class="form-actions">
		<div class="row">
			<div class="col-md-offset-4 col-md-7">
				<button id="register" type="submit" class="btn btn-primary">Registrar Módulo</button>

			</div>
		</div>
	</div>
	{{end}}

	{{if .Modify}}
	<div class="form-actions">
		<div class="row">
			<div class="col-md-offset-4 col-md-7">
				<button type="submit" class="btn btn-primary" id="updateModule">Actualizar Módulo</button>
				<button type="submit" class="btn btn-danger" id="deleteModule">Eliminar Módulo</button>
			</div>
		</div>
	</div>
	{{end}}
</form>
{{ end }}