{{ define "parking_spot_form" }}
<form class="form-horizontal" role="form" action="/module/create" method="post">
    <div class="form-group row">
        <label class="col-md-4 control-label text-md-right" for="inputType">Tipo</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="type" id="type" value="ParkingSpot" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label text-md-right" for="inputName">Nombre</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre sin espacios">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label text-md-right" for="inputName">MAC</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="mac" id="mac" placeholder="MAC">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label text-md-right" for="inputProtocol">Protocol</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="protocol" id="protocol" placeholder="Protocol">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label text-md-right" for="location">Ubicación</label>
        <div class="col-md-7" id="col-map">
            <div id="gmap" class="content-map"></div>
        </div>
    </div>

    <button id="create"class="btn btn-primary">Submit</button>
</form>
{{ end }}