{{ define "sidebar" }}


<nav class="page-controls navbar navbar-default">
    <div class="container-fluid">
        
    </div>
</nav>

<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="/">BeeGOns!</a>
        </header>
       
        <ul class="sidebar-nav">
            
            <!--
		 <li>
                <a class="collapsed" href="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    Administrar
                    <i class="toggle fa fa-angle-down"></i>
                </a>

                <ul id="sidebar-levels" class="collapse">
                    <li>
                        <a class="collapsed" href="#module-levels" data-toggle="collapse" data-parent="#sidebar-levels">
                            Módulo IOT
                            <i class="toggle fa fa-angle-down"></i>
                        </a>
                        <ul id="module-levels" class="collapse">
                            <li><a href="/module/create">Añadir módulo</a></li>
                            <li><a href="/module/modify">Modificar o eliminar módulo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="collapsed" href="#parking-levels" data-toggle="collapse" data-parent="#sidebar-levels">
                            Parqueo
                            <i class="toggle fa fa-angle-down"></i>
                        </a>
                        <ul id="parking-levels" class="collapse">
                            <li><a href="/parkingspot/create">Añadir Sensor de Parqueo</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
		//-->
            <li>
                <a class="collapsed" href="#info-levels" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-info"></i>
                </span>
                    Información
                    <i class="toggle fa fa-angle-down"></i>
                </a>

                <ul id="info-levels" class="collapse">
                    <li>
                        <a href="/modules">
                            Módulos
                        </a>    
                    </li>
                    <li>
                        <a href="/parkingspots">
                            Sensores de Parqueo
                        </a>    
                    </li>
                </ul>
            </li>
            
            <li>
                <a class="collapsed" href="#charts-levels" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="fa fa-bar-chart"></i>
                    
                </span>
                    Gráficos
                    <i class="toggle fa fa-angle-down"></i>
                </a>

                <ul id="charts-levels" class="collapse">
                    <li>
                        <a href="/charts/realtime">Tiempo real</a>
                    </li>
                    <li>
                        <a href="/charts/historical">Históricos</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="collapsed" href="#maps-levels" data-toggle="collapse" data-parent="#sidebar">
                <span class="icon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </span>
                    Mapas
                    
                </a>

                <ul id="maps-levels" class="collapse">
                    <li>
                        <a href="/maps/sensors">Módulos de Sensores</a>
                    </li>
                    <li>
                        <a href="/maps/parking">Aparcamiento</a>
                    </li>
                </ul>
            </li>

            <!-- <li>
                <a class="" href="/alerts" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    Gráficos
                </a>
            </li> -->

        </ul>
     
    </div>
</nav>


{{ end }}
