{{ define "alerts"}}
{{template "header"}}
</head>
<body>
{{template "sidebar"}}
<div class="content-wrap">
	<main id="content" class="content" role="main">
		<div class="card">
			<div class="card-header">
				Alertas
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{{template "footer"}}

<script type="text/javascript" src="../../assets/js/ws/alerts.js"></script>
</body>
{{ end }}