{{ define "charts_realtime"}}
{{template "header"}}
<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<link rel="stylesheet" type="text/css" href="../../assets/vendor/rickshaw/rickshaw.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/charts.css">
</head>
<body>
{{template "sidebar"}}
<div class="content-wrap">
    <main id="content" class="content" role="main">
        <div class="row">
            <div class = col-md-4>
                <section class="card">
                    <div class="card-header">
                        <h4>Seleccionar Módulo</h4>
                    </div>
                    <div class="card-body">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <label for="moduleid"></label>
                                <select name="moduleid" id="moduleid">
                                    <option value="none">Seleccionar Módulo</option>
                                    {{range .Modules}}
                                    <option value="{{.Id}}">{{.Name}}</option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
           <section id="gaugesDiv" class="widget hidden">
            <header><h4>Calidad de aire</h4></header>
            <div class="widget-body" id="gauges"></div>
            </section>
            <section id="gaugesDivMet" class="widget hidden">
            <header><h4>Metereología</h4></header>
            <div class="widget-body" id="gaugesMet"></div>
            </section>
        <div id="charts">
        </div>
    </main>
</div>
{{template "footer"}}
<script src="../../assets/vendor/d3/d3.min.js"></script>
<script src="../../assets/vendor/rickshaw/rickshaw.min.js"></script>
<script type="text/javascript" src="../../assets/js/utils.js"></script>
<script type="text/javascript" src="../../assets/js/charts/liquidFillGauge.js"></script>
<script type="text/javascript" src="../../assets/js/charts/gauge.min.js"></script>
<script type="text/javascript" src="../../assets/js/charts/realtime.js"></script>
</body>
{{ end }}
