{{ define "charts_realtime"}}
{{template "header"}}
<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<link rel="stylesheet" type="text/css" href="../../assets/vendor/rickshaw/rickshaw.min.css">
</head>
<body>
{{template "sidebar"}}
<div class="content-wrap">
	<main id="content" class="content" role="main">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<select id="moduleid">
							<option value="none">Seleccionar ID</option>
							{{range .Modules}}
							<option value="{{.Id}}">{{.Id}}</option>
							{{ end }}
						</select>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{{template "footer"}}

<script src="../../assets/vendor/d3/d3.min.js"></script>
<script src="../../assets/vendor/rickshaw/rickshaw.min.js"></script>

<script type="text/javascript" src="../../assets/js/charts/realtime.js"></script>

</body>
{{ end }}