{{ define "index"}}
{{template "header"}}
</head>
<body>
{{template "sidebar"}}

<div class="content-wrap">
	<main id="content" class="content" role="main">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<!-- <th scope="col">Id</th> -->
							<th scope="col">Type</th>
							<th scope="col">MAC</th>
							<th scope="col">State</th>
							<th scope="col">Protocol</th>
							<th scope="col">Controlled Properties</th>x
						</tr>
					</thead>
					<tbody>
						{{ range .Modules }}
						<tr>
							<!-- <td>{{ .Id }}</td> -->
							<td>{{ .Type }}</td>
							<td>{{ .Mac }}</td>
							<td>{{ .State }}</td>
							<td>{{ .Protocol}}</td>
							<td> {{ range  .ControlledProperties  }} {{. }} {{ end }}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
{{template "footer"}}
</body>
{{ end }}