{{ define "module_create"}}
{{template "header"}}
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="form" action="/module/create" method="post">
				<div class="form-group">
					<label for="inputType">Type</label>
					<input type="text" class="form-control" name="type" id="type" placeholder="Enter Type">
				</div>
				<div class="form-group">
					<label for="inputMac">Mac</label>
					<input type="text" class="form-control" name="mac" id="mac" placeholder="Enter Mac">
				</div>
				<div class="form-group">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
				</div>
				<div class="form-group">
					<label for="inputState">State</label>
					<input type="text" class="form-control" name="state" id="state" placeholder="Enter State">
				</div>
				<div class="form-group">
					<label for="inputProtocol">Protocol</label>
					<input type="text" class="form-control" name="protocol" id="protocol" placeholder="Enter Protocol">
				</div>
				<div id="sensors">
					
				</div>
				<button id="addsensor" class="btn btn-info">+</button>
				<button id="create"class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{{template "footer"}}
<script type="text/javascript" src="../../assets/js/modules/create.js"></script>
</body>
{{ end }}
</html>