{{ define "module_table"}}
{{template "header"}}
</head>
<body>
{{template "sidebar"}}
<div class="content-wrap">
	<main id="content" class="content" role="main">
		<div class="card">
			<div class="card-header">
				Módulos
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Tipo</th>
									<th scope="col">Tipo de Datos</th>
									<th scope="col">Mac</th>
									<th scope="col">Nombre</th>
									<th scope="col">Protocolo</th>
								</tr>
							</thead>
							<tbody>
								{{ range .Modules }}
								<tr>
									<td>{{ .Id }}</td>
									<td>{{ .Type }}</td>
									<td>{{ .DataType }}</td>
									<td>{{ .Mac }}</td>
									<td>{{ .Name }}</td>
									<td>{{ .SupportedProtocol }}</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{{template "footer"}}
</body>
{{ end }}
